
/* DEFAULT LOAD UP THEME IS 'STANDARD' */


/* DEFAULTS AND BACKGROUND */
html {
    font-family: monospace;
    font-size: 100%;
}
#foreground {
    background:rgba(0, 68, 255);
    position:absolute;
    top:4%;
    right:2%;
    bottom: 4%;
    left:2%;
    border: 0.33rem solid rgb(0, 0, 0);
    border-radius: 1rem  4rem;
    overflow: auto;
}
p, ul {
    font-size: 1rem;
}

/* TITLE */
h1{
    text-align: center;
    margin:1% 20% 2% 20%;
    font-size: 3rem;
    font-weight: lighter;
    border: 0.32rem solid rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 1.5rem;
    background:rgb(255, 255, 255);
}
h2{
    font-size: 2rem;
}

.wrapper {
    display: flex;
}

/* CARDS */
.cards {
    flex:1 1;
    color: rgb(0, 0, 0);
    background:rgb(255, 255, 255);
    border: 0.32rem solid rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 3rem 6rem 4rem 6rem;
    font-size: 2rem;
   
}

.cards > div > button {
    font-size: 1.5rem;
}
#buttons-card {
    width: fit-content;
    height: fit-content;
    text-align: center;
}
/* #info-card{
    display: inline-block
} */
#standard {
    margin-top: 3rem;
}

button {
    padding: 0.75rem 2rem 0.75rem 2rem;
    border-radius: 1rem;
}

#terminal{
    background-color: #000000;
    color: #00ff04;
    border: 0.2rem solid #00ff04;
}
#sunset{
    background-color: #fbff00;
    color: #000000;
    border: 0.2rem solid #DE3163;
}
#cyber{
    background-color: #000000;
    color: #00e5ff;
    border: 0.2rem solid #00e5ff;
}

.blinking{
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{     color:  #00ff04; }
    49%{    color: #00ff04; }
    60%{    color: transparent; }
    99%{    color: transparent; }
    100%{   color: #00ff04; }
}

